<div class="defaultQrContainer">
  <div style="position: relative; left: -4rem;">
    <h2>Default Qr</h2>
    Version: {{qrData?.version || 0}}<br />
    Size: {{qrData?.gridSize || 0}} <br />
    Error Correction: {{qrData?.errorCorrection || "N.A"}}<br />
    Total bits size: {{(qrData?.data || []).length}}<br />
    Reserved bits length: {{getReservedBitsLength()}}<br />
    Segments:<br />
    <span class="segments">
      @for (segments of (qrData?.segments || []); track segments.mode) {
      <b>{{segments.mode}}</b> - <span>{{segments.value}}</span>
      <br />
      }
    </span>
    <div>
      <button type="button" (click)="download()">
        Download
      </button>
    </div>
  </div>
  <qr [input]="input" [qrOptions]="{ errorCorrection: this.errorCorrection }"
    (onQrDataEncoded)="onQrDataEncoded($event)" />
</div>
<div class="qrContainer">
  <div class="qr">
    <qr [input]="input" [qrOptions]="{ errorCorrection: this.errorCorrection }" [moduleStyle]="dotModuleStyle" />
    <p>ModuleStyle:- styles/dotModuleStyle</p>
  </div>
  <div class="qr">
    <qr [input]="input" [qrOptions]="{ errorCorrection: this.errorCorrection }" [moduleStyle]="smoothModuleStyle" />
    <p>ModuleStyle:- styles/smoothModuleStyle</p>
  </div>
  <div class="qr">
    <qr [input]="input" [qrOptions]="{ errorCorrection: this.errorCorrection }" [moduleStyle]="customModuleStyle" />
    <p>ModuleStyle:- custom</p>
  </div>
  <div class="qr">
    <qr [input]="input" [qrOptions]="{ errorCorrection: this.errorCorrection }" [image]="{ src: './favicon.ico'  }" />
    <p>Image</p>
  </div>
  <div class="qr">
    <qr [input]="input" [qrOptions]="{ errorCorrection: this.errorCorrection }"
      [image]="{ src: './favicon.ico', overlap: false  }" />
    <p>Image: overlap: false</p>
  </div>
  <div class="qr">
    <qr [input]="input" [qrOptions]="{ errorCorrection: this.errorCorrection }" color="blue" />
    <p>Color: blue</p>
  </div>
</div>